.section {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center; /* centers vertically */
  align-items: center;     /* centers horizontally */
  font-weight: 400;
  color: black;
  padding: 4rem 2rem;
}


.footer {
  background-color: black;
  color: white;
  padding: 4.8rem 0;
}

#intro {
  background: #F2F2F2;
}

#about {
  background: #EAE4D5;
}


.card-title {
  font-weight: bold;
}

.social-links {
  text-align: center;
  margin: 1rem 0;
}

.social-links a {
  margin: 0 10px;
  color: #fff;
  transition: color 0.3s ease;
}

.social-links a:hover {
  color: #007bff; /* Bootstrap primary color */
}
