.section {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center; /* centers vertically */
  align-items: center;     /* centers horizontally */
  font-weight: 400;
  color: black;
  padding: 4rem 2rem;
}


.footer {
  background-color: darkgrey;
  color: white;
  padding: 4.8rem 0;
}

#intro {
  background: #F2F2F2;
}

#about {
  background: #EAE4D5;
}